body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: #fff;
    text-align: center;
    padding: 60px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    border-bottom: 3px solid #007bff;
    padding-bottom: 15px;
    font-size: 1.8em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    font-size: 1.1em;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

a:hover {
    color: #0056b3;
    background-color: #e0f0ff;
    padding: 2px 5px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 30px 0;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
}

#proyectos {
    background-color: #282c34;
    color: #abb2bf;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Fira Code', monospace; /* Cambia la fuente */
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.6;
    overflow: auto;
    max-width: 800px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#proyectos h2 {
    color: #abb2bf;
    border-bottom: none;
    padding-bottom: 0;
}

#proyectos pre {
    margin-top: 20px;
}

.cursor {
    display: inline-block;
    width: 8px;
    background-color: #abb2bf;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: #abb2bf;
    }
}

.seccion-elevacion {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.seccion-elevacion:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
